{% extends "base.html" %}
{% load core_tags i18n %}
{% block extra_css %}
<style>
::-webkit-scrollbar {
    width: 6px;
}
.custom-button::-moz-focus-inner {
   border: 0 !important;
}
.custom-button{
    border: none !important;
    background: none !important;
    padding: 0 !important;
    outline:none !important;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.check-box-group{
    max-height: 300px;
    overflow: auto;
}
</style>
{% endblock %}
{% block content %}

<h1 class="text-center">{{ menu }} {% trans 'portfolio' %}</h1>
<div class="row">
    <div class="col-sm-3 col-xs-12">
    {% if has_filters %}
    {{ count }} - {{ total_count }} {% trans 'selected' %}
    {% endif %}
    <div class="border rounded p-2 mt-3">
    <h3 class="text-center">{% trans 'Industries' %}</h3>
        <div class="form-group p-1">
            <input type="email" class="form-control" id="search_industry" data-toggle="tooltip"
                   data-placement="top" title="{% trans 'Enter an industry and press Enter' %}"/>
            <button type="button" class="btn btn-warning mt-2 industries-reset">{% trans 'Reset' %}</button>
        </div>
        <div class="check-box-group">
        {% for industry in industries %}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="industries"
                     value="{{ industry.key }}" id="flexCheckChecked{{ industry.key }}">
              <label class="form-check-label w-100" for="flexCheckChecked{{ industry.key }}">
                  <span class="float-left">{{ industry.key }}</span> <span class="float-right">
                  {% if not industry.is_in_filters %}<b>+{{ industry.doc_count }}</b>
                          {% else %}
                              {{ industry.doc_count }}
                          {% endif %}</span>
              </label>
            </div>
        {% endfor %}
        </div>
        </div>
    <div class="border rounded p-2 mt-3">
        <h3 class="text-center">{% trans 'Technologies' %}</h3>
        <div class="form-group p-1">
            <input type="email" class="form-control" id="search_technology" data-toggle="tooltip"
                   data-placement="top" title="Enter a technology and press Enter" />
            <button type="button" class="btn btn-warning mt-2 technologies-reset">{% trans 'Reset' %}</button>
        </div>
        <div class="check-box-group">
                {% for technology in technologies %}
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="technologies"
                                 value="{{technology.key}}" id="flexCheckChecked{{ technology.key }}">
                          <label class="form-check-label w-100" for="flexCheckChecked{{ technology.key }}">
                              <span class="float-left">{{ technology.key }}</span>
                              <span class="float-right">{% if not technology.is_in_filters %}<b>+{{ technology.doc_count }}</b>
                          {% else %}
                              {{ technology.doc_count }}
                          {% endif %}</span>
                          </label>
                        </div>
                {% endfor %}
        </div>
    </div>
    </div>
    <div class="col-sm-9 col-xs-12">
        <div class="w-100">
            <button class="btn btn-outline-primary float-md-left m-1">{% trans 'Add new project' %}</button>
            <button class="btn btn-outline-danger float-md-right m-1">{% trans 'Delete all' %}</button>
            <button class="btn btn-outline-primary float-md-right m-1">{% trans 'Add new set' %}</button>
            <a href="{% url 'import_projects' %}" class="btn btn-outline-success float-md-right m-1 text-success">
                {% trans 'Upload .csv' %}</a>
        </div>
        <div class="form-group p-1 mt-5">
            <input class="form-control" id="search"  name='search' placeholder="Search" data-toggle="tooltip"
                   data-placement="bottom" title="{% trans 'Enter a search query and press Enter' %}" />
        </div>
        <div class="row">
            {% for obj in qs %}
                <div class="col-12">
                    <div class="card p-3 m-3">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ obj.name }}</h5>
                            <p class="card-text"><b>{% trans 'Description:' %}</b> {{ obj.description|safe  }}</p>
                            <p class="card-text"><b>{% trans 'Industries:' %}</b> {% for industry in obj.industries.all %}
                                <button class=" btn custom-button btn-link" value="industries">
                                    {{ industry.name }}</button>{% if not forloop.last %}, {% endif %}
                            {% endfor %}</p>
                            <p><b>{% trans 'Technologies:' %}</b>
                                {% for technology in obj.technologies.all %}
                                    <button class=" btn custom-button btn-link" value="technologies">
                                        {{ technology.name }}</button>{% if not forloop.last %},{% endif %}
                                {% endfor %}</p>
                            <p class="card-text">
                                {% if not obj.is_url_working %}<b class="text-danger">&times;</b>{% endif %}<b>{% trans 'URL:' %}</b>
                                <a href="{{ obj.url }}">{{ obj.url }}</a></p>
                            <button class="btn btn-primary">{% trans 'Edit' %}</button>
                            <button class="btn btn-danger float-right">{% trans 'Delete' %}</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
  <ul class="pagination pagination-lg">
    {% if pagination.has_previous %}
      <li class="page-item"><a class="page-link" href="?{% param_replace page=pagination.previous_page_number %}">&laquo;</a></li>
    {% else %}
      <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in pagination.page_range %}
      {% if pagination.current_page == i %}
        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?{% param_replace page=i %}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if pagination.has_next %}
      <li class="page-item"><a class="page-link" href="?{% param_replace page=pagination.next_page_number %}">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
    {% endif %}
  </ul>
    </div>
</div>


{% endblock %}

{% block extra_js %}
<script>
$('[data-toggle="tooltip"]').tooltip();
const params = new URLSearchParams(location.search);
const industriesCheckBoxes = $('input[name="industries"]');
const buttonsLink = $('.custom-button');
const industriesSearchInput = $('input#search_industry');
const searchInput = $('input[name="search"]');
const technologiesCheckBoxes = $('input[name="technologies"]');
const technologiesSearchInput = $('input#search_technology');

const handleCheckBoxEvent = (e) => {
    if(e.target.checked){
        params.append(e.target.name, e.target.value);
    }else{
        let previousParams = params.getAll(e.target.name);
        params.delete(e.target.name);
        previousParams.filter((elem)=>{return elem !== e.target.value}).forEach((value, _)=>{
            params.append(e.target.name, value);
        });
    }
    params.delete('page');
    location.search = params.toString();
};

params.forEach((value, key)=>{
    if(key === 'industries' || key === 'technologies'){
        $(`input[name='${key}'][value='${value}']`).attr("checked", true);
    }
    else if(key === 'search'){
        searchInput.val(value);
    }
});

industriesCheckBoxes.on('click', (e)=>{
    handleCheckBoxEvent(e);
});

technologiesCheckBoxes.on('click', (e)=>{
    handleCheckBoxEvent(e);
});

$('button.technologies-reset').on('click', ()=>{
    params.delete('technologies');
    params.delete('page');
    location.search = params.toString();
});

$('button.industries-reset').on('click', ()=>{
    params.delete('industries');
    params.delete('page');
    location.search = params.toString();
});

searchInput.keypress((e) => {
  if (e.which === 13) {
      params.set(e.target.name, e.target.value);
      params.delete('page');
      location.search = params.toString();
  }
});

technologiesSearchInput.keypress((e)=> {
    if (e.which === 13) {
        technologiesCheckBoxes.show();
        technologiesCheckBoxes.next('label').show();
        let filterResult = technologiesCheckBoxes.filter(function (){
            return !this.value.toLowerCase().includes(e.target.value.toLowerCase());
        });
        filterResult.hide();
        filterResult.next('label').hide();
    }
});

industriesSearchInput.keypress((e)=>{
    if (e.which === 13) {
        industriesCheckBoxes.show();
        industriesCheckBoxes.next('label').show();
        let filterResult = industriesCheckBoxes.filter(function (){
            return !this.value.toLowerCase().includes(e.target.value.toLowerCase());
        });
        filterResult.hide();
        filterResult.next('label').hide();
    }
});

buttonsLink.on('click', (e)=>{
    let text = $(e.target).text().trim();
    if (!params.getAll(e.target.value).includes(text)){
        params.append(e.target.value, $(e.target).text().trim());
        params.delete('page');
        location.search = params.toString();
    }
})
</script>
{% endblock %}
