{% extends "base.html" %}

{% block content %}

<h1 class="text-center">Portfolio</h1>
<div class="row">
    <div class="col-sm-3  border rounded p-2 col-xs-12">
    <h3 class="text-center">Industries</h3>
        <div class="form-group p-1">
            <input type="email" class="form-control" id="search_industry" />
            <button type="button" class="btn btn-warning mt-2">Reset</button>
        </div>
        {% for industry in industries  %}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="industry"
                     value="{{ industry.name }}" id="flexCheckChecked" >
              <label class="form-check-label" for="flexCheckChecked">
                 {{ industry.name }}
              </label>
            </div>
        {% endfor %}
        <h3 class="text-center">Technologies</h3>
        <div class="form-group p-1">
            <input type="email" class="form-control" id="search_technology" />
            <button type="button" class="btn btn-warning mt-2">Reset</button>
        </div>
        {% for technology in technologies  %}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="technology"
                     value="{{technology.name}}" id="flexCheckChecked" >
              <label class="form-check-label" for="flexCheckChecked">
                 {{ technology.name }}
              </label>
            </div>

        {% endfor %}
    </div>
    <div class="col-sm-9 col-xs-12">
        <div class="w-100">
            <button class="btn btn-outline-primary float-md-left m-1">Add new project</button>
            <button class="btn btn-outline-danger float-md-right m-1">Delete all</button>
            <button class="btn btn-outline-primary float-md-right m-1">Add new set</button>
            <button class="btn btn-outline-success float-md-right m-1">Upload .csv</button>
        </div>
        <div class="form-group p-1 mt-5">
            <input type="email" class="form-control" id="search"  placeholder="Search"/>
        </div>
        <div class="row">
            {% for obj in qs %}
                <div class="col-12">
                    <div class="card p-3 m-3">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ obj.name }}</h5>

                            <p class="card-text">Description: {{ obj.description }}</p>

                            <p class="card-text">Industries: {% for industry in obj.industries.all %}
                                {{ industry.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}</p>
                            <p>Technologies:
                                {% for technology in obj.technologies.all %}
                                    {{ technology.name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}</p>
                            <p class="card-text">
                                {% if not obj.is_url_working %}<b class="text-danger">&times;</b>{% endif %}Url:
                                <a href="{{ obj.url }}">{{ obj.url }}</a></p>
                            <button class="btn btn-primary">Edit</button>
                            <button class="btn btn-danger float-right">Delete</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% if qs.has_other_pages %}
  <ul class="pagination pagination-lg">
    {% if qs.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ qs.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in qs.paginator.page_range %}
      {% if qs.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if qs.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ qs.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
    </div>
</div>

{% endblock %}
