{% extends "base.html" %}
{% load core_tags %}

{% block content %}

<h1 class="text-center">Portfolio</h1>
<div class="row">
    <div class="col-sm-3 col-xs-12">
    {% if has_filters %}
    {{ count }} - {{ total_count }} selected
    {% endif %}
    <div class="border rounded p-2 mt-3">
    <h3 class="text-center">Industries</h3>
        <div class="form-group p-1">
            <input type="email" class="form-control" id="search_industry" />
            <button type="button" class="btn btn-warning mt-2 industries-reset">Reset</button>
        </div>
        {% for industry in industries %}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="industries"
                     value="{{ industry.key }}" id="flexCheckChecked{{ industry.key }}">
              <label class="form-check-label" for="flexCheckChecked{{ industry.key }}">
                 {{ industry.key }} <b>{% if has_filters %}+{% endif %}{{ industry.doc_count }}</b>
              </label>
            </div>
        {% endfor %}
        </div>
    <div class="border rounded p-2 mt-3">
        <h3 class="text-center">Technologies</h3>
        <div class="form-group p-1">
            <input type="email" class="form-control" id="search_technology" />
            <button type="button" class="btn btn-warning mt-2 technologies-reset">Reset</button>
        </div>
                {% for technology in technologies  %}
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="technologies"
                                 value="{{technology.key}}" id="flexCheckChecked{{ technology.key }}">
                          <label class="form-check-label" for="flexCheckChecked{{ technology.key }}">
                             {{ technology.key }} <b>{% if has_filters %}+{% endif %}{{ technology.doc_count }}</b>
                          </label>
                        </div>
                {% endfor %}
    </div>
    </div>
    <div class="col-sm-9 col-xs-12">
        <div class="w-100">
            <button class="btn btn-outline-primary float-md-left m-1">Add new project</button>
            <button class="btn btn-outline-danger float-md-right m-1">Delete all</button>
            <button class="btn btn-outline-primary float-md-right m-1">Add new set</button>
            <button class="btn btn-outline-success float-md-right m-1">Upload .csv</button>
        </div>
        <div class="form-group p-1 mt-5">
            <input class="form-control" id="search"  name='search' placeholder="Search"/>
        </div>
        <div class="row">
            {% for obj in qs %}
                <div class="col-12">
                    <div class="card p-3 m-3">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ obj.name }}</h5>

                            <p class="card-text"><b>Description:</b> {{ obj.description }}</p>

                            <p class="card-text"><b>Industries:</b> {% for industry in obj.industries.all %}
                                {{ industry.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}</p>
                            <p><b>Technologies:</b>
                                {% for technology in obj.technologies.all %}
                                    {{ technology.name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}</p>
                            <p class="card-text">
                                {% if not obj.is_url_working %}<b class="text-danger">&times;</b>{% endif %}<b>Url:</b>
                                <a href="{{ obj.url }}">{{ obj.url }}</a></p>
                            <button class="btn btn-primary">Edit</button>
                            <button class="btn btn-danger float-right">Delete</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
  <ul class="pagination pagination-lg">
    {% if pagination.has_previous %}
      <li class="page-item"><a class="page-link" href="?{% param_replace page=pagination.previous_page_number %}">&laquo;</a></li>
    {% else %}
      <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in pagination.page_range %}
      {% if pagination.current_page == i %}
        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?{% param_replace page=i %}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if pagination.has_next %}
      <li class="page-item"><a class="page-link" href="?{% param_replace page=pagination.next_page_number %}">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
    {% endif %}
  </ul>
    </div>
</div>


{% endblock %}

{% block extra_js %}
<script>
const params = new URLSearchParams(location.search);

const industriesCheckBoxes = $('input[name="industries"]');
const industriesSearchInput = $('input#search_industry');
const searchInput = $('input[name="search"]');

const technologiesCheckBoxes = $('input[name="technologies"]');
const technologiesSearchInput = $('input#search_technology');

const handleCheckBoxEvent = (e) => {
    if(e.target.checked){
        params.append(e.target.name, e.target.value);
    }else{
        params.delete(e.target.name);
    }
    params.delete('page');
    location.search = params.toString();
};

params.forEach((value, key)=>{
    console.log(value, key);
    if(key === 'industries' || key === 'technologies'){
        $(`input[name='${key}'][value='${value}']`).attr("checked", true);
    }
    else if(key === 'search'){
        searchInput.val(value);
    }
});

industriesCheckBoxes.on('click', (e)=>{
    handleCheckBoxEvent(e);
});

technologiesCheckBoxes.on('click', (e)=>{
    handleCheckBoxEvent(e);
});

$('button.technologies-reset').on('click', ()=>{
    params.delete('technologies');
    params.delete('page');
    location.search = params.toString();
});

$('button.industries-reset').on('click', ()=>{
    params.delete('industries');
    params.delete('page');
    location.search = params.toString();
});

searchInput.keypress(function (e) {
  if (e.which === 13) {
      params.set(e.target.name, e.target.value);
      location.search = params.toString();
  }
});

</script>
{% endblock %}
