{% load  i18n %}

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
  <a class="navbar-brand" href="{% url 'index' %}">GetMySet</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-lg-flex justify-content-lg-between" id="navbarNav">
    <ul class="navbar-nav">
        {% if request.user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'private_projects' %}">{% trans 'Private' %}</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'public_projects' %}">{% trans 'Public' %}</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="">{% trans 'My Set' %}</a>
            </li>
        {% endif %}
    </ul>
    <ul class="navbar-nav">
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin/">{% trans 'Admin Console' %}</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'personal_information' %}">{% trans 'Hello' %}, {{ request.user.name }}</a>
            </li>
            <li class="nav-item">
            <a  class="nav-link" data-toggle="modal" data-target="#exampleModal">
              {% trans 'Log Out' %}
            </a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">{% trans 'Sign Up' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">{% trans 'Log In' %}</a>
            </li>
        {% endif %}
    </ul>
  </div>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{% trans 'Are you sure you want to log out of your account?' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'No' %}</button>
        <a type="button" class="btn btn-primary" href="{% url 'logout' %}">{% trans 'Yes' %}</a>
      </div>
    </div>
  </div>
</div>